<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <servlet-name>upload</servlet-name>
    <servlet-class>com.cheer.servlet.Upload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>upload</servlet-name>
    <url-pattern>/upload</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>analysis</servlet-name>
    <servlet-class>com.cheer.servlet.Analysis</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>analysis</servlet-name>
    <url-pattern>/analysis</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>selectTopics</servlet-name>
    <servlet-class>com.cheer.servlet.SelectTopics</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>selectTopics</servlet-name>
    <url-pattern>/selectTopics</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>preQuestion</display-name>
    <servlet-name>preQuestion</servlet-name>
    <servlet-class>com.cheer.servlet.PreQuestion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>preQuestion</servlet-name>
    <url-pattern>/preQuestion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>nextQuestion</display-name>
    <servlet-name>nextQuestion</servlet-name>
    <servlet-class>com.cheer.servlet.NextQuestion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>nextQuestion</servlet-name>
    <url-pattern>/nextQuestion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>currentQuestion</display-name>
    <servlet-name>currentQuestion</servlet-name>
    <servlet-class>com.cheer.servlet.CurrentQuestion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>currentQuestion</servlet-name>
    <url-pattern>/currentQuestion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>grade</display-name>
    <servlet-name>grade</servlet-name>
    <servlet-class>com.cheer.servlet.Grade</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>grade</servlet-name>
    <url-pattern>/grade</url-pattern>
  </servlet-mapping>
</web-app>